<div>
    <button 
    type="button"
    class="btn btn-primary"
    (click)="loadUserTable()">{{buttonName}}
</button>
<div *ngIf="displayData">
  <table  class="table table-striped table-dark" id="usertable">
     <thead>
         <tr>
             <th *ngFor="let name of column">{{name}}</th>
         </tr>
     </thead>  
      <tbody id="tableBody" >
        <tr *ngFor="let user of userData; index as row" >
            <td><input type="text"
                class="tableTextBox"
                name="firstname"
                [readonly]="!editEnable[row]"
                required
                [(ngModel)]="userData[row].firstname"
                #firstname="ngModel">
                <div *ngIf="firstname.invalid"
                    class="alert alert-danger">
                    <div *ngIf="firstname.errors.required">
                        First Name is required.
                    </div>
                </div>
            </td>

            <td><input type="text"
                class="tableTextBox"
                name="middlename"
                [readonly]="!editEnable[row]"
                [(ngModel)]="userData[row].middlename">
            </td>
            <td><input type="text"
                class="tableTextBox"
                name="lastname"
                [readonly]="!editEnable[row]"
                required
                [(ngModel)]="userData[row].lastname"
                #lastname="ngModel">
                <div *ngIf="lastname.invalid"
                class="alert alert-danger">
                <div *ngIf="lastname.errors.required">
                    Last Name is required.
                </div>
            </div>
            </td>
            <td><input type="text"
                class="tableTextBox"
                name="email"
                [readonly]="!editEnable[row]"
                required
                email
                [(ngModel)]="userData[row].email"
                #email="ngModel">
                <div *ngIf="email.invalid"
                class="alert alert-danger">
                <div>
                    Enter a valid email.
                </div>
            </div>
            </td>
            <td><input type="text"
                class="tableTextBox"
                name="phone"
                [readonly]="!editEnable[row]"
                required
                pattern="^((\\+91-?)|0)?[0-9]{10}$"
                [(ngModel)]="userData[row].phoneno"
                #phone="ngModel">
                <div *ngIf="phone.invalid"
                            class="alert alert-danger">
                            <div *ngIf="phone.errors.required">
                                Phone Number is required.
                            </div>
                            <div *ngIf="phone.errors.pattern">
                                Phone Number is invalid.
                            </div>
                        </div>
            </td>
            <td><div *ngIf="editEnable[row]; else displayRole">
                <select name="role"
                    required
                    (change)="changeRole(row, $event.target)"
                    #role>
                    <option *ngFor="let role of storeRole; index as ind"
                        [attr.value]="ind" 
                        [attr.selected]="ind == userData[row].role ? true : null"> {{ role }}</option>
                </select>
            </div>
            <ng-template #displayRole>
                <input type="text"
                        class="tableTextBox"
                        readonly
                        [value]="Role[+userData[row].role]"> 
            </ng-template>            
            </td>
             <td><input type="text"
                class="tableTextBox"
                name="address"
                [readonly]="!editEnable[row]"
                required
                [(ngModel)]="userData[row].address"
                #address="ngModel">
                <div *ngIf="address.invalid"
                    class="alert alert-danger">
                    <div>
                        Address is required.
                    </div>
                </div>
            </td>
            <td><input type="button"
                class="btn btn-success"
                [value]="editBtn[row]"
                (click)="editData(row, $event.target)">
            </td>
            <td><input type="button"
                class="btn btn-danger"
                [value]="deleteBtn[row]"
                (click)="deleteData(row, $event.target)">
            </td>
        </tr>        
    </tbody>
  </table>
</div>
</div> 
<div *ngIf="displayData">
    <app-new-user (onUserAdded)="userAdded($event)">
    </app-new-user>
</div>
